:root {
    --color_white: #FAFAFA;
    --color_gray: #7D8184;
    --color_black: #000000;
    --color_secondary: #DB4444;
    --color_green: #00FF66;
    --color_hover-v1: #E07575;
    --color_hover-v2: #A0BCE0;
}